.huge-footer
  .row
   .large-2.columns
      .footer-section-header Example Footer
      ul
        li
          a.tracker(href='/pc-download', data-tracker-cat='Footer / Download Link', data-tracker-action='Click') Download
        li
          a(href='/features') Features
        li
          a(href='/mobile') Mobile
        li
          a(href='/compare') Compare
        li
          a(href='/pricing') Plans & Pricing
    .large-2.columns
      .footer-section-header Company
      ul
        li
          a(href='/group/about') About
        li
          a(href='/group/contact') Contact
        li
          a(href='http://www.sugarsync.com/blog/') Blog
        li
          a(href='http://www.sugarsync.com/blog/in-the-news/') News
        li
          a(href='/company/press-release.html') Press Releases
    .large-2.columns
      .footer-section-header Support
      ul
        li
          a(href='https://support.sugarsync.com/hc/en-us', rel='ext') Help Center
        li
          a(href="https://www.sugarsync.com/cskb/User_Guide/SugarSync_User's_Guide.pdf") Getting Started
        li
          a(href='/faq/referral_program.html') Referral Program
        li
          a(href='/faq-pages') Shared Folder Plan FAQ
    .large-2.columns
      .footer-section-header Partner
      ul
        li
          a(href='/affiliateprogram/') Affiliate Program
        li
          a(href='/reseller/') Reseller Program
        li
          a(href='/developer') Developer Portal
        li
          a(href='http://support.sugarsync.com', rel='ext') Support
    .large-2.columns
      .footer-section-header Connect With Us
      ul.social.notranslate
        li.facebook
          a(href='http://facebook.com/sugarsync/', rel='ext') Facebook
        li.twitter
          a(href='http://twitter.com/sugarsync/', rel='ext') Twitter
        li.youtube
          a(href='http://youtube.com/sugarsyncvideo/', rel='ext') YouTube
    .large-2.columns
      .footer-section-header Legal
      ul
        li
          a(href='/terms') Terms of Service
        li
          a(href='/privacy') Privacy Policy
.copyright
  .row(style="max-width: 100%;")
    .large-12.columns
      span Copyright 2019 UBC Pocus
     