$ripple: #daecf3;
$crush: #fe424d;
$seafloor: #1aa6b7;
$ubc-blue: #002145;
$ubc-sec-blue-darkest: #0055B7;
$ubc-sec-blue-darker: #00A7E1;
$ubc-sec-blue-mid: #40B4E5;
$ubc-sec-blue-light: #6EC4E8;
$ubc-sec-blue-lightest: #97D4E9;



.button {
	cursor: pointer;
	text-decoration: none !important;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	color: #fff;
	-webkit-transition: background-color 0.3s,opacity 0.3s;
	-moz-transition: background-color 0.3s,opacity 0.3s;
	-o-transition: background-color 0.3s,opacity 0.3s;
	transition: background-color 0.3s,opacity 0.3s;
}

.button.load {
	-webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	-moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	-o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.button.main{
	background: #fe424d;
	width: 160px;
	height: 54px;
	line-height: 54px;
	font-size: 13px;
}

.button:hover {
	background-color: $ubc-sec-blue-darker !important;
	color: #fff;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
 
#{$a-tags} {
  color: $ubc-sec-blue-darker;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: $crush;
}