$ripple: #daecf3;
$crush: #fe424d;
$seafloor: #1aa6b7;
$ubc-blue: #002145;
$ubc-sec-blue-darkest: #0055B7;
$ubc-sec-blue-darker: #00A7E1;
$ubc-sec-blue-mid: #40B4E5;
$ubc-sec-blue-light: #6EC4E8;
$ubc-sec-blue-lightest: #97D4E9;

.huge-footer {
	background-color: $ripple;
	text-align: left;
	padding: 40px 0 0;

	.footer-section-header{
		font-weight: bold;
		font-color: $ubc-blue;
	}

	ul{
		margin-block-start: 0;
	}

	li{
		line-height: 1.4em;
	}

	$a-tags: 'a, a:active, a:hover, a:visited';
	$a-tags-hover: 'a:active, a:hover';
 
	#{$a-tags} {
	  color: $ubc-blue;
	  text-decoration: none;
	  font-size: 12px;
	}
	#{$a-tags-hover} {
	  color: $crush;
	}
	
}

.copyright{
	background-color: $ubc-blue;
	font-size: 12px;
	color: #fff;
	padding: 10px 20px;
}